.center-h {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.padding-m {
  padding: 1em;
}

.debug {
  border: 1px dashed red;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.flex-center {
  align-items: center;
}

.bg-light {
  background: var(--grey);
}

.gap-m {
  gap: 1em;
}
